html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-family: Open Sans,sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    --star-size: 20px;
    --star-color: #666;
    --star-background: #fc0;
}

.font-small {
    font-family: Open Sans Condensed,sans-serif;
    font-size: 12px;
}
.valign-top {
    vertical-align: text-top;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 250ms ease-in-out;
}
a:hover {
    color: blue;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background-color:#fff;
    border: 1px solid #000;
    box-shadow: 0 0 0 1px #000;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(top, 
                                rgba(255, 255, 255, .25), 
                                rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, rgb(0, 177, 30), rgb(0, 177, 30));
    border-radius: 2px; 
    background-size: 35px 40px, 100% 100%, 100% 100%;
}

.map-reset-button {
    position: absolute;
    top: 0;
    right: 113%;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #000;
    cursor: pointer;
    width: 230px;
    text-align: center;
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.stars::before {
    content: "★★★★★";
    letter-spacing: 0px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cool-button {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 8px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    transition: all 150ms ease-in-out 0s;
    height: 24px;
    line-height: 24px;
    font-family: Open Sans Condensed,sans-serif;
}

.cool-button:hover {
    color: rgb(61, 79, 88);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}

.cool-button.active {
    background-color: rgb(9, 128, 76);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
    color: rgb(255, 255, 255);
}

.cool-button.active:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
}

.panel {
    background-image: linear-gradient(135deg, #373f70 42.86%, #444e8a 42.86%, #444e8a 50%, #373f70 50%, #373f70 92.86%, #444e8a 92.86%, #444e8a 100%);
    background-size: 49.50px 49.50px;
    flex-basis: 40%;
    height: 100%; 
    padding: 5px;
    border-left: 4px groove #2d4058;
}

.panel-splitted {
    /*
    display: grid;
    grid-template-rows: 40px 1fr;
    */
}

.panel-filter {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 40%;
    padding: 5px;
    display: flex;
    gap: 5px;
}

.panel-filter > * {
    flex-grow: 1; 
}

.panel-filter-button {
    height: 24px;
    line-height: 24px;
}

.group-title {
    color: #fff;
    font-family: Open Sans Condensed,sans-serif;
    font-size: 18px;
}

.game-group {
    border: 3px solid #516178;
    background-color: #fefefe;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 250ms cubic-bezier(.77,0,.175,1);
    transform-origin: center;
    padding: 5px;
}

/* todo: no usar margin y tal, se rompe el layuout al hacer lcic en marcador de mapa */
.company-list, .game-list {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 40px);
    margin-top: 40px;
}

.company-detail {
    justify-items: stretch;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    border: 3px solid #516178;
    background-color: #fefefe;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 250ms cubic-bezier(.77,0,.175,1);
    transform-origin: center;
    padding: 5px;
}

.company-detail.status-completed {
    background-color: green;
}
.company-detail.status-wanttoplay {
    background-color: purple;
}
.company-detail.status-some {
    background-color: yellow;
}

.company-detail:hover {
    transform: scale(1.02);
    background-color: #bdcadc;
}

.company-header {
    cursor:pointer;
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr 120px;
}

.company-name {
    font-size: 16px;
    font-weight: bolder;
}

.company-games {
    margin-top: 5px;
    font-size: 12px;
}

.label-radio-cool {
    box-sizing: border-box;
}

.label-radio-cool input {
    display: none;
}

.label-radio-cool label {
    font-size: 12px;
    display: block;
    border: 2px solid #516178;
    border-radius: 5px;
    width: 32px;
    padding: 1px 5px;
    text-align: center;
    box-sizing: border-box;
    line-height: 14px;
    cursor: pointer;
    margin-left: 2px;
    transition: all 250ms ease-in-out;
}

.label-radio-cool .label-status-selector-0 {
    background-color: #d8d8d8;
    border-color: #d8d8d8;
}

.label-radio-cool .label-status-selector-1 {
    background-color: #b4ccb4;
    border-color: #b4ccb4;
}

.label-radio-cool .label-status-selector-2 {
    background-color: #c9bac9;
    border-color: #c9bac9;
}

.label-radio-cool .label-status-selector-3 {
    background-color: #c7aaaa;
    border-color: #c7aaaa;
}

.label-radio-cool input[type="radio"]:checked + label {
    border-color: #373f70; 
}

.label-radio-cool input[type="radio"]:checked + label.label-status-selector-0 {
    background-color: #5d5d5d;
}

.label-radio-cool input[type="radio"]:checked + label.label-status-selector-1 {
    background-color: #00c900;
}

.label-radio-cool input[type="radio"]:checked + label.label-status-selector-2 {
    background-color: #c100c1;
}

.label-radio-cool input[type="radio"]:checked + label.label-status-selector-3 {
    background-color: #dc1c1c;
}

.company-game {
    display: grid;
    grid-template-columns: 1fr 120px 76px 120px;
    height: 22px;
}

.game-name {
    font-family: Open Sans Condensed,sans-serif;
    font-size: 14px;
}
.game-themes {
    font-style: italic;
}

.game-status-0 a {
    /*color: #000;*/
}

.game-status-1 a {
    color: #007f00;
}

.game-status-2 a {
    color: #7f007f;
}

.game-status-3 a {
    color: #931616;
}

.game-players {
    text-align: left;
    font-size: 14px;
}

.game-themes {
    text-align: left;
    font-size: 14px;
}

.game-status {
    display: flex;
    justify-content: flex-end;
}

.progress-label {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-shadow:0 0 3px #fff, 0 0 1px #fff;
    font-family: Open Sans Condensed,sans-serif;
}

.wanttoplay-heart {
    top: 0;
    right: 0;
    position: absolute;
    font-size: 32px;
}

.wanttoplay-label {
    position: absolute;
    top: 5px;
    right: 12px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    color: #fff;
    text-shadow:0 0 3px #000, 0 0 1px #000;
}
